
* {

    box-sizing: border-box;
    background-color: rgb(29, 29, 238);
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

/* html center for text */
html {
    text-align: center;
}

/* text style for fonts */
p, h3 {
    font-weight: 900;
    font-size: 2rem;
}

#highScoreSubmit {
    height:2rem;
    border-color: red;
    
}

/* button style starts here */
.btn {
    margin-left: 1rem;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem ;
    margin-top: 3rem;
}

.btn:hover {
    cursor: pointer;
    border: 2px inset;
    color: hsl(226, 100%, 50%)
}
/* button style ends here */

.hide {
    display: none;
}