* {

    box-sizing: border-box;
    background-color: rgb(29, 29, 238);
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}


/* entire html */
html {
    text-align: center;
}

/* text color and weight */
p, h1 {
    font-weight: 900;
    font-size: 2rem;
}


/* timer */
span {
    color:red;
}

/* button  */
.btn {
    margin-left: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem ;
    margin-top: 3rem;
    color:red;
}

.btn2 {
    text-transform: uppercase;
    margin-right: 80rem;
    margin-top: 3rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    color: red;
    font-weight: 900;
    cursor: pointer;   
}

a {
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    border: 2px inset;
    background-color: hsl(226, 100%, 50%)
}

.btn2:hover {
    cursor: pointer;
    border: 2px inset;
    background-color: hsl(226, 100%, 50%)
}

/*style to hide elements when not in use*/
.hide {
    display: none;
}